services:
  db:
    image: postgres:17
    container_name: auth-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    networks:
      - auth_network

volumes:
  postgres_data:

networks:
  auth_network:
    driver: bridge